.start-screen{
  background: rgb(195,108,34);
  background: linear-gradient(326deg, rgba(195,108,34,1) 0%, rgba(253,187,45,0.6152836134453781) 100%);
    width:100vw;
    height:100vh;
    max-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
     @media screen and (max-width: 960px) {
        img {
            width: 550px;
        }
    }
      @media screen and (max-width: 560px) {
        img {
            width: 350px;
        }
    }
      @media screen and (max-width: 350px) {
        img {
            width: 300px;
        }
    }
        
}

.info-container{
  position:absolute;
  top: 10px;
  right:10px;
  display: flex;
  gap:10px;
}

.btn-info{
  height: 40px;
  width: 40px;
  background-color: #9A4113;
  opacity: 90%;
}


.start-label{
    position:relative;
}
.start-button{
    position:absolute;
    top:372px;
    right:167px;
    display: flex;
    justify-content: center;

    img{
        width: 139px;
        cursor: pointer;
        &:hover{
            filter:brightness(1.25)
        }
        &:active {
          transform: translateY(4px);
        }
    }

    @media screen and (max-width: 960px) {
        top: 225px;
        right:93px;
        img {
            width: 94px;
        }
          
        
    }
      @media screen and (max-width: 560px) {
        top:140px;
        right: 44px;
        img {
            width: 73px;
        }
    }
      @media screen and (max-width: 350px) {
        top:116px;
        right:48px;
        img {
            width: 55px;
        }
    }
}

.circle-container {
  $particleNum: 200;
  $particleColor: hsl(180, 100%, 80%);

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  


  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      rgb(242,199,147),
      rgb(242,199,147) 10%,
      hsla(180, 100%, 80%, 0) 56%
     
    );

    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(random(100) + vw, $startPositionY + vh, 0);
        }

        to {
          transform: translate3d(random(100) + vw, -$startPositionY - random(30) + vh, 0);
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}