.field{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('./../../assets/img/board.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;  
    overflow-y: hidden;
}

.card-stack{
    position: relative;
    img{
        position:absolute;
        width: 120px;
        z-index:1;
    }
        @media screen and (device-width: 375px) and (device-height: 667px)  {
        width:108px;
    }
    @media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
   width:108px;
}
}

.top-card{
    cursor:pointer;
    transition: all 125ms ease-in-out;
        &:hover{
            transform: scale(1.1) translateY(-10px) ;

        }
}

.pick-card{
     animation:pick-card-animation 1s ease-in-out;
     transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

@keyframes pick-card-animation{
    0% {
        transform:scale(1);
     }
    40% {
        transform:scale(1.7);
    }
    60% {
        transform:scale(1.7);
    }
    100% {
        transform:scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg); 
    }
}

.played-card{
    right:25px;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);

    @media(max-width:384px){
        right: 45px;
    }

       @media(max-width:330px){
        right: 65px;
    }
    @media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
        transform: scale(1.3) translateX(140px) translateY(-147px) rotate(-10deg);
    }
}
.player-position{
    position: absolute;
    left: 0;
}

.btn-add{
    position: absolute;
    right:32px;
    bottom: 32px;
    z-index: 99;
    background-color: #9b9b9b !important;

    @media(max-width:720px){
       z-index: 99;
       bottom: 10px;
    } 
}


.pin-bottom{
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
    @media(max-width:720px){
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
}


.game-over{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(120,128,125);
    background: linear-gradient(24deg, rgba(120,128,125,1) 0%, rgba(154,100,86,1) 100%);
}

.container{
    position: relative;
     width: 100%;
    height: auto;

      button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 226px;
        background-color: #9B9588;
        opacity: 80%;

        @media(max-width:700px){
            top: 65%;
         }
    }

       img {
        max-width: 1000px;
        width: 100%;
        height: auto;
    }
}

.scroll-container-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    app-player-mobile {
        margin-left: 83px;
         margin-bottom: 110px;
    }
}

.scroll-container-desktop{
    position: absolute;
    top: 20px;
    left: 0;
    height:635px;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    width:230px;
       @media(max-width:700px){
            height: 600px;
         }
}

app-player, app-player-mobile{
 cursor: pointer;
 &:hover{
     filter:brightness(1.15);
 }
}

app-game-info{
    z-index:2;
}


