<h1 mat-dialog-title>Add new Player</h1>
<div mat-dialog-content>
  <p>Please enter the name of a player</p>
  <p>You need min 2 players</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [disabled]="name.length == 0" [mat-dialog-close]="name" >Ok</button>
  <!-- cdkFocusInitial bei button ok rausgenommen, da fehler geworfen wurde, wenn weiter alles passt hier die info einfach entfernen -->
</div>
